@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <body style="background-color:aqua">

    <h1> !!! Welcome to My dotnetcore First Project !!! </h1>
    <h2> Pushing image to Docker manully</h2>
    <p>Current Date and Time is: <span id='date-time'></span></p>

    <script>
        var dateAndTime = new Date();
        document.getElementById('date-time').innerHTML=dateAndTime.toLocaleString();
        </script>

    <p> version: V1 </p>
    </body>
</div>
